<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogy | HOME PAGE</title>
</head>
<body>
    <h1>Our Blogs</h1>
    <ul>
        <%= blogs.forEach(blog => { %>
            <li>
                <h2>
                    <%= blog.title %>
                </h2>
                <p> 
                    <%= blog.description %>
                </p>
                <!-- image to be added -->
            </li>
        <%= }) %>
    </ul>
    
</body>
</html>