<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a new blog</h1>
    <% if(errors && errors.length > 0) { %>
        <ul>
            <% errors.forEach(err => { %>
                <li><%= err %></li>
            <% }) %>
        </ul>
    <% } %>
    
    <form action="/addblog" method="post">
        <label for="title">Blog Title:</label>
        <input type="text" id="title" name="title" required></textarea>
        <br>
        <label for="description">Blog Description</label>
        <textarea name="description" id="description" required></textarea>
        <br>
        <label for="imageUrl">Blog Url:</label>
        <input type="text" id="imageUrl" name="imageUrl" required></textarea>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>